.vehicle {
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .maintenance {
    text-align: center;
    font-size: 1.2em;
  }

  .important, .decrease {
    color: darkred;
  }

  .increase {
    color: green;
  }

  .buttons {
    margin: 20px 0 10px;
  }

  .entry-label {
    font-weight: 500;
  }

  .data-table {
    max-width: 1200px;

    margin: 10px 0;

    font-size: 1.1em;

    .modifier {
      width: 10px;
    }

    .entry {
      padding: 5px;
      border-top: 1px solid #ddd;

      .date {
        text-align: right;
      }
    }
  }

  .editor {
    display: flex;
    flex-direction: row;
    align-items: center;

    .editor-controls {
      flex-grow: 1;
    }

    .editor-buttons {
      flex-grow: 0;
    }
  }
}

@media screen and (max-width : 902px) {
  .vehicle {
    .editor {
      display: block;

      .editor-buttons {
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: right;
      }
    }
  }
}
